/* responsive code starts here*/

@media screen and (max-width: 1140px){
    .container{
        width: 100%;
        padding: 0 15px;

    }
}

@media screen and (max-width: 1080px){
    .banner h1{
        margin-top: 200px;
    }
}
@media screen and (max-width: 1024px){
    .banner{
        background-position-x: 45%;
    }
    .banner h1{
        font-size:2.5rem;
    }
    .service .boxContainer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px) {
    header na{
        position: relative;
        border: 2px solid #fff;
        height: 30px;
        width: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }
    header nav::after{
        top: 17px;

    }
    header nav::before{
        top: 7px;

    }
    header nav:after, 
    header nav:before {
        content: "";
        height: 2px;
        width: 17px;
        background-color: orange;
        display: block;
        position: absolute;
        left: 5px;

    }
    
}
/* responsive code ends here*/